#VietNam{
    font-size:25pt;
    line-height:0pt;
    margin-bottom:20px;
    padding-bottom:5px;
}
#bachkhoa{
    font-family: Arial;
    font-size: 12px;
    text-align: left;
}
hr{
    height:1px;
    background-color:#a2a9b1;
    border:0;
    margin:0.2em ;
    width: 500px;
}
div{
    text-align: justify;
    width: 500px;
}
.thutle{
    margin-left:30px;
}
